@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');


/* Body */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    color: #E7DE8A;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* navbar - override bootstrap styling */

.navbar {
    background-color: #253019 !important;
}

#head-text {
    color: #E7DE8A;
    text-shadow: #3a3a3a 1px 0.3px;
}

.my-collapse {
    flex-grow: 0;
}

.navbar-brand {
    font-size: 320%;
    margin-left: 40px;
}

#my-nav-hover a:hover {
    color: #2ac50b;
}

#my-nav-hover a {
    color: #E7DE8A;
    margin: 0 10px 0 10px;

}

.underline {
    border-bottom: 1px solid #E7DE8A;
}



/* Hero Image and carousel */

.carousel .carousel-item img {
    height: 650px;
    object-fit: cover;
}


.hero-img {
    background: url('../images/magda-v-NTtpEsUSagg-unsplash.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
    margin: 0 auto;
}

.hero-img-2 {
    background: url('../images/luca-micheli-r9RW20TrQ0Y-unsplash.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
    margin: 0 auto;
}

.txt-header-home {
    font-size: 130%;
    font-family: Poppins, sans-serif;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 25px;
    width: 100%;
    height: 100px;

    background-color: rgba(37, 48, 25, 0.7);
    border: 2px solid #E7DE8A;
    border-radius: 6px;

    margin: 0 auto;
}

/* Text overlay on hero image */

/* Class code taken from Love Running project */

.text-overlay {
    font-size: 130%;
    font-family: Poppins, sans-serif;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 25px;
    width: 80%;
    height: 100px;
    text-decoration: underline;

    background-color: rgba(37, 48, 25, 0.7);
    border: 2px solid #E7DE8A;
    border-radius: 6px;

    margin: 0 auto;
    margin-top: 100px;

}

.text-overlay>h2 {
    margin-bottom: 5px;
}

#box-size {
    width: 100%;
}

#box-size img {
    object-fit: cover;
    object-position: center;
}

/* Opening Statement */

.statement {
    width: 80%;
    height: 350px;
    border: 1px solid #E7DE8A;
    border-radius: 6px;

    margin: auto;
    padding: 20px 10px 20px 10px;

    position: relative;
    top: 50px;

    background-color: #253019;
}

.statement>h3 {
    padding-bottom: 20px;
    text-align: center;
}

.statement p {
    padding-bottom: 10px;
}

/* next group walk section */

#nxt-big-event {
    background-image: url('../images/angelo-pantazis-zXVk8mNl9M0-unsplash.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 700px;
    overflow: hidden;
    margin-top: 5%;
}

#nxt-big-event div {
    color: #E7DE8A;
    background-color: rgba(0, 0, 0, .6);
    width: 50%;
    height: 700px;
    float: left;
    padding: 175px 0 0 10px;
    text-align: center;
    border: 2px solid #E7DE8A;
    box-sizing: border-box;
}



/* Footer section */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #253019;
}

.social-links {
    text-align: center;
}

.social-links h3 {
    display: inline;
    padding-bottom: 10px;
}

.social-links i {
    font-size: 160%;
    margin: 35px 100px 10px 20px;
    color: #E7DE8A;
}

/* About Us Page */

/* Gallery section on About page */

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#photos>img {
    width: 100%;
}

/* about us information */

#info-main {
    padding: 100px;
}

.about-us {
    width: 90%;
    height: 475px;
    border: 1px solid #E7DE8A;
    border-radius: 6px;
    background-color: #253019;
    margin: 0 auto;
}

.about-us h3 {
    font-size: 260%;
    padding: 1rem;
    text-align: center;
}

.about-us > p {
    font-size: 90%;
    padding: 0 40px 0 40px;
}

.su-btn {
    color: #E7DE8A;
    background-color: #253019;
    font-size: 250%;
    border: 2px solid #E7DE8A;
    border-radius: 6px;
    padding: 6px;
    position: relative;
    bottom: 50px;
    left: 35%;
}

.su-btn:hover {
    color: #2ac50b;
}

a {
    text-decoration: none;
    color: #E7DE8A;
}

.social-links a {
    font-size: 160%;
}

/* Walks Page */

.walks-header h2 {
    color: #253019;
    font-size: 260%;
    text-align: center;
    padding: 5%;
    background-color: #E7DE8A;
    margin: 0;
    text-decoration: underline;
}

#walks-list>div>h3 {
    margin-left: 30px;
    color: #253019;
}

#walks-list>div>p {
    margin-left: 30px;
    color: #253019;
}

/* Different walks section */

/* Most popular */

#most-popular {
    margin-top: 4%;
}

.mp-info {
    border: 1px solid #253019;
    width: 100%;
    height: 300px;
    background-color: #253019;
    float: left;
    margin: 0 0 30px 0;
}

.text-mp {
    width: 50%;
    float: right;
    margin: -250px 30px;
    position: relative;
}

.text-mp h3 {
    font-size: 160%;
    text-decoration: underline;
    padding-top: 20px;
    padding-bottom: 10px;
}

.text-mp > p {
    font-size: 90%;
}

/* Short walks */

.text-sw {
    width: 50%;
    float: right;
    margin: -250px 30px;
    position: relative;
}

.text-sw h3 {
    font-size: 160%;
    text-decoration: underline;
    padding-top: 20px;
    padding-bottom: 10px;
}

.text-sw p {
    font-size: 90%;
}


.sw-info {
    border: 1px solid #253019;
    width: 100%;
    height: 320px;
    background-color: #253019;
    float: left;
    margin: 0 0 30px 0;
}

.sw-info div {
    height: 300px;
}

.sw-info > div > iframe {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 20px;
}

.sw-info > div > img {
    margin-bottom: 230px;
}

/* Medium Walks */

.text-mw {
    width: 50%;
    float: right;
    margin: -250px 30px;
    position: relative;
}

.text-mw h3 {
    font-size: 160%;
    text-decoration: underline;
    padding-top: 20px;
    padding-bottom: 10px;
}

.text-mw > p {
    font-size: 90%;
}

/* Long Walks */

.text-lw {
    width: 50%;
    float: right;
    margin: -250px 30px;
    position: relative;
}

.text-lw h3 {
    font-size: 160%;
    text-decoration: underline;
    padding-top: 20px;
    padding-bottom: 10px;
}

.text-lw > p {
    font-size: 90%;
}

/* Pub Walks */

.text-pw {
    width: 50%;
    float: right;
    margin: -250px 30px;
    position: relative;
}

.text-pw h3 {
    font-size: 160%;
    text-decoration: underline;
    padding-top: 20px;
    padding-bottom: 10px;
}

.text-pw > p {
    font-size: 90%;
}

/* Images and maps for walks list section - image-left class inspired by Love Running project */

.image-left img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid #E7DE8A;
    z-index: 3;
}

.image-left>div iframe {
    width: 250px;
    height: 250px;
    position: absolute;
    border-radius: 50%;
    margin-top: 25px;
}

#bg-nav-inpage {
    width: 100%;
    background-color: #E7DE8A;
    padding-bottom: 5%;
    border: 2px solid #253019;
}

/* In page navigation on walks list */

.inpage-nav {
    text-align: center;
    margin-top: 50px;
    background-color: #E7DE8A;
}

.inpage-nav a {
    text-decoration: none;
    color: #253019;
    margin-left: 50px;
    font-size: 120%;
}

.inpage-nav a:hover {
    color: #2ac50b;
}

/* Group walks page */

/* group walks info and images */

.page-heading {
    background-color: #E7DE8A;
    padding-bottom: 5%;
}

.page-heading>h2 {
    font-size: 280%;
    text-align: center;
    padding-top: 5%;
    color: #253019;
    text-decoration: underline;
}

#gw-section {
    background-image: url('../images/jon-flobrant-_r19nfvS3wY-unsplash.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 1000px;
    overflow: hidden;
    margin: 5px 0 100px 0;
}

#gw-section div {
    color: #E7DE8A;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 333px;
    padding: 80px 0 0 10px;
    text-align: center;
    border: 2px solid #E7DE8A;
    box-sizing: border-box;

    z-index: 3;
}


/* sign up page */

.newsletter-su {
    width: 60%;
    border: 1px solid black;
    background-color: #253019;
    position: relative;
    margin: 0 300px 150px;
    margin-top: 50px;
    padding: 2%;
}


.nl-1 {
    padding: 10px;
    border: 1px solid black;
    width: 65%;

}

.nl-1>input {
    width: 100%;
    border: 1px solid black;
    display: flex;
}

.btn {
    background-color: #E7DE8A;
    border: 2px solid #3a3a3a;
    float: right;
}


/* Media queries */

/* Large Screen sizes */

@media screen and (max-width: 1200px) {
    .carousel-inner>.carousel-item>img {
        width: 100vw;
        height: auto;
        object-fit: cover;
    }
}

/* for medium to large screen sizes */

@media screen and (max-width: 1024px) {

    /* home page */

    .statement {
        width: 100%;
        height: 300px;
    }

    .statement>h3 {
        font-size: 140%;
        text-align: center;
    }

    .statement>p {
        font-size: 90%;
        padding: 0 20px 0 20px;
        text-align: center;
        line-height: 30px;
    }


     #head-text {
        font-size: 220%;
        margin-left: 5px;
    }

    .txt-header-home {
        height: 75px;
        padding-top: 15px;
    }

    .txt-header-home h2 {
        font-size: 100%;
    }

    /* Next big  group walk on home page */

    #nxt-big-event {
        height: 700px;
        margin-top: 150px;
    }

    #nxt-big-event div {
        width: 100%;
        height: 350px;
        padding: 60px;
    }

    #nxt-big-event h2 {
        font-size: 140%;
    }

    #nxt-big-event h4 {
        font-size: 80%;
    }

    #nxt-big-event p {
        font-size: 80%;
    }

    /* Footer and social links */

    .social-links {
        margin-top: 15px;
    }

    footer {
        height: 80px;
    }

    .social-links h3 {
        font-size: 100%;
    }

    .social-links i {
        margin: 10px 20px 5px 20px;
    }

    /* about page */

    .hero-img {
        width: 100vw;
        height: 650px;
    }

    .text-overlay {
        width: 80vw;
        height: 90px;
    }

    .text-overlay h2 {
        font-size: 140%;
        padding-bottom: 20px;
    }

    /* About page gallery */

    #photos {
        column-count: 2;
    }

    #info-main {
        padding: 20px 0 20px 0;
    }

    .about-us {
        width: 100vw;
        height: 550px;
    }

    .about-us h3 {
        font-size: 140%;
    }

    .about-us p {
        font-size: 90%;
    }

    .su-btn {
        font-size: 140%;
        padding: 6px;
        bottom: 10px;
    }

    /* walks page */

    .walks-header h2 {
        font-size: 180%;
    }

    /* inpage navbar style */

    .inpage-nav a {
        font-size: 100%;
        margin-left: 30px;
    }

    .inpage-nav {
        margin-top: 30px;
    }

    /* Walks list titles */ 

    #walks-list > div > h3 {
        font-size: 120%;
        margin-left: 20px;
    }

    #walks-list>div>p {
        font-size: 90%;
        margin-left: 20px;
    }

    /* Most popular section */

    .mp-info {
        height: 300px;
    }

    .text-mp {
        width: 100%;
        margin: 0 auto;
    }

    .text-mp h3 {
        font-size: 100%;
        text-align: center;
    }

    .text-mp p {
        font-size: 80%;
        text-align: center;
    }

    /* Short Walks section */

    .text-sw {
        width: 100%;
        margin: -200px 0;
    }

    .text-sw h3 {
        font-size: 100%;
        text-align: center;
    }

    .text-sw p {
        font-size: 80%;
        text-align: center;
    }

    /* Medium Walks section */

    .text-mw {
        width: 100%;
        margin: 0;
    }

    .text-mw h3 {
        font-size: 100%;
        text-align: center;
    }

    .text-mw p {
        font-size: 80%;
        text-align: center;
    }

    /* Lond Walks section */

    .text-lw {
        width: 100%;
        margin: 0;
    }

    .text-lw h3 {
        font-size: 100%;
        text-align: center;
    }

    .text-lw p {
        font-size: 80%;
        text-align: center;
    }

    /* Pub Walks section */ 

    .text-pw {
        width: 100%;
        margin: 0;
    }

    .text-pw h3 {
        font-size: 100%;
        text-align: center;
    }

    .text-pw p {
        font-size: 80%;
        text-align: center;
    }

    /* Image and iframe for map */

    .image-left {
        height: 100px;
        text-align: center;
        margin-right: 150px;
    }

    .image-left img {
        width: 100px;
        height: 100px;
        margin: 0 50px;
    }

    .image-left > div iframe {
        width: 100px;
        height: 100px;
        margin: 0;
    }

    .sw-info > div > iframe {
        width: 100px;
        height: 100px;
        margin: 0 80px;
    }

    /* Group Walks page */

    /* page heading */

    .page-heading>h2 {
        font-size: 180%;
    }

    /* Group Walks infomation */

    #gw-section {
        height: 900px;
    }

    #gw-section div {
        height: 300px;
    }

    #gw-section > div > h3 {
        font-size: 160%;
        margin-top: 30px;
    }

    #gw-section > div > p {
        font-size: 110%;
        margin-top: 20px;
    }

    /* Sign Up page */

    /* text overlay */

    .text-overlay {
        height: 120px;
    }

    .newsletter-su {
        width: 80%;
        margin: 40px 85px;
    }
}

/* small screen sizes */


@media screen and (max-width: 360px) {

    /* home page */

    #head-text {
        font-size: 140%;
        margin-left: 5px;
    }

    .txt-header-home {
        height: 75px;
        padding-top: 15px;
    }

    .txt-header-home h2 {
        font-size: 65%;
    }

    #nxt-big-event {
        margin-top: 150px;
        height: 400px;
    }

    #nxt-big-event div {
        width: 100%;
        height: 200px;
        padding: 30px;
    }

    #nxt-big-event h2 {
        font-size: 100%;
    }

    #nxt-big-event h4 {
        font-size: 80%;
    }

    #nxt-big-event p {
        font-size: 60%;
    }

    .statement {
        width: 100%;
        height: 300px;
    }

    .statement>h3 {
        font-size: 100%;
        padding-bottom: 10px;
    }

    .statement>p {
        font-size: 60%;
        line-height: 15px;
    }

    .social-links {
        margin-top: 15px;
    }

    footer {
        height: 80px;
    }

    .social-links h3 {
        font-size: 100%;
    }

    .social-links i {
        margin: 10px 20px 5px 20px;
    }

    .social-links a {
        font-size: 100%;
    }

    /* about page */

    .walks-header h2 {
        font-size: 100%;
    }

    .hero-img {
        width: 100vw;
        height: 300px;
    }

    .text-overlay {
        width: 90vw;
        height: 75px;
    }

    .text-overlay h2 {
        font-size: 60%;
    }

    #photos {
        column-count: 2;
    }

    #info-main {
        padding: 20px 0 20px 0;
    }

    .about-us {
        width: 100vw;
        height: 600px;
    }

    .about-us h3 {
        font-size: 70%;
    }

    .about-us p {
        font-size: 50%;
    }

    .su-btn {
        font-size: 80%;
        bottom: 10px;
        padding: 6px;
    }

    /* walks page */

    /* Information and text content */

    .mp-info {
        height: 300px;
    }

    .text-mp {
        width: 100%;
        margin: 0 auto;
    }

    .text-mp h3 {
        font-size: 70%;
    }

    .text-mp p {
        font-size: 50%;
    }

    .text-sw {
        width: 100%;
        margin: -210px 0;
    }

    .text-sw h3 {
        font-size: 70%;
    }

    .text-sw p {
        font-size: 50%;
        margin: -8px 0;
    }

    .text-mw {
        width: 100%;
        margin: 0;
    }

    .text-lw {
        width: 100%;
        margin: 0;
    }

    .text-lw h3 {
        font-size: 70%;
    }

    .text-pw {
        width: 100%;
        margin: 0;
    }

    .text-pw h3 {
        font-size: 70%;
    }

    .text-pw p {
        font-size: 50%;
    }

    .text-lw p {
        font-size: 50%;
    }

    .text-mw h3 {
        font-size: 70%;
    }

    .text-mw p {
        font-size: 50%;
    }

    /* Images and maps */

    .image-left {
        height: 100px;
    }

    .image-left img {
        width: 100px;
        height: 100px;
        margin: 0 10px;
    }

    .image-left > div iframe {
        width: 100px;
        height: 100px;
        margin: 0 40px;
    }

    .sw-info > div > iframe {
        width: 100px;
        height: 100px;
        margin: 0 80px;
    }

    /* headings */

    #walks-list > div > h3 {
        font-size: 80%;
        margin-left: 20px;
    }

    #walks-list>div>p {
        font-size: 60%;
        margin-left: 20px;
    }

    /* Inpage navigation */

    .inpage-nav a {
        font-size: 50%;
        margin-left: 10px;
    }

    .inpage-nav {
        margin-top: 10px;
    }

    /* Group Walks page */

    /* page heading */

    .page-heading>h2 {
        font-size: 120%;
    }

    /* Group Walks infomation */

    #gw-section {
        height: 400px;
    }

    #gw-section div {
        height: 133px;
    }

    #gw-section > div > h3 {
        font-size: 80%;
        margin-top: 0;
    }

    #gw-section > div > p {
        font-size: 60%;
        margin: 10px
    }

    /* Sign Up page */

    /* Form */

    .newsletter-su {
        width: 100vw;
        margin: 20px 0;
    }

    .newsletter-su h3 {
        font-size: 100%;
    }

    .newsletter-su > p {
        font-size: 60%;
    }

    .nl-1 {
        width: 90%;
        font-size: 100%;
    }
    
    .label-lastn {
        font-size: 80%;
    }

    .btn {
        font-size: 60%;
    }

}

main > h1, h2 {
    text-align: center;
    margin-top: 40px;
}

main > img {
    width: 100vw;
    height: 400px;
}