@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(160, 160, 160);
}

/* navbar - override bootstrap styling */


.my-collapse {
    flex-grow: 0;
}

.navbar-brand {
    font-size: 250%;
}


/* hero image */

.hero-img {
    background: url('../images/countryside-walks-header.jpeg') no-repeat center center;
    width: 100%;
    height: 60vh;
}

.text-overlay {
    font-size: 130%;
    font-family: Poppins, sans-serif;
    letter-spacing: 3px;

    width: 600px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(107, 241, 107, 0.7);
    border-radius: 6px;

    bottom: 75px;
    left: 50px;

    position: absolute;

}

